{
    "dev": {
        "app_function": "app.app",
        "aws_region": "eu-west-1",
        "profile_name": "default",
        "project_name": "enny",
        "runtime": "python3.7",
        "s3_bucket": "zappa-enny",
        "remote_env": "s3://zappa-enny/enny_environment.json",
        "keep_warm": "true",
	    "slim_handler": "true",
        "vpc_config": {
            "SubnetIds": [
            "subnet-0ecf41876e3277997", "subnet-09783f3ceff8d7f5d"
            ],
            "SecurityGroupIds": ["sg-c18fd4bb"]
        }
    }
}
